.header-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    margin: 20px auto;
    color: #f1f1f1;
    padding: 0;
    background-color: #579ddf;
    text-align: center;
}

.title{
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

.slogan{
    font-size: 20px;
}
